[submodule "quickstart/llm-cpu-serving"]
	path = quickstart/llm-cpu-serving
	url = https://github.com/rh-ai-quickstart/llm-cpu-serving.git
[submodule "quickstart/RAG"]
	path = quickstart/RAG
	url = https://github.com/rh-ai-quickstart/RAG.git
[submodule "quickstart/lls-observability"]
	path = quickstart/lls-observability
	url = https://github.com/rh-ai-quickstart/lls-observability.git
[submodule "quickstart/ai-virtual-agent"]
	path = quickstart/ai-virtual-agent
	url = https://github.com/rh-ai-quickstart/ai-virtual-agent.git
[submodule "quickstart/guardrailing-llms"]
	path = quickstart/guardrailing-llms
	url = https://github.com/rh-ai-quickstart/guardrailing-llms.git
[submodule "quickstart/product-recommender-system"]
	path = quickstart/product-recommender-system
	url = https://github.com/rh-ai-quickstart/product-recommender-system.git
[submodule "quickstart/openshift-ai-observability-summarizer"]
	path = quickstart/openshift-ai-observability-summarizer
	url = https://github.com/rh-ai-quickstart/openshift-ai-observability-summarizer.git
[submodule "quickstart/it-self-service-agent"]
	path = quickstart/it-self-service-agent
	url = https://github.com/rh-ai-quickstart/it-self-service-agent.git
[submodule "quickstart/ansible-log-analysis"]
	path = quickstart/ansible-log-analysis
	url = https://github.com/rh-ai-quickstart/ansible-log-analysis.git
	branch = main
[submodule "quickstart/data-governance-co-pilot"]
	path = quickstart/data-governance-co-pilot
	url = https://github.com/rh-ai-quickstart/data-governance-co-pilot
[submodule "quickstart/maas-code-assistant"]
	path = quickstart/maas-code-assistant
	url = https://github.com/rh-ai-quickstart/maas-code-assistant.git
	branch = main
[submodule "quickstart/spending-transaction-monitor"]
	path = quickstart/spending-transaction-monitor
	url = https://github.com/rh-ai-quickstart/spending-transaction-monitor.git
[submodule "quickstart/f5-api-security"]
	path = quickstart/f5-api-security
	url = https://github.com/rh-ai-quickstart/f5-api-security.git
[submodule "quickstart/aml-rag-nvidia"]
	path = quickstart/aml-rag-nvidia
	url = https://github.com/rh-ai-quickstart/aml-rag-nvidia.git
[submodule "quickstart/lemonade-stand-assistant"]
	path = quickstart/lemonade-stand-assistant
	url = https://github.com/rh-ai-quickstart/lemonade-stand-assistant.git
[submodule "quickstart/multi-agent-loan-origination"]
	path = quickstart/multi-agent-loan-origination
	url = https://github.com/rh-ai-quickstart/multi-agent-loan-origination
[submodule "quickstart/f5-ai-guardrails"]
	path = quickstart/f5-ai-guardrails
	url = https://github.com/rh-ai-quickstart/f5-ai-guardrails.git
[submodule "quickstart/rh-research"]
	path = quickstart/rh-research
	url = https://github.com/rh-ai-quickstart/rh-research.git
	branch = quickstart
[submodule "quickstart/test-bootc-pub"]
	path = quickstart/test-bootc-pub
	url = https://github.com/seanmerrow/bootc.git
